In [77]:
import pandas as pd
import numpy as np
import random as rd
from sklearn.utils import shuffle

import random
random.seed(10)

In [78]:
dataset = pd.read_csv('./dataset_diff/datasetv1.csv')

filedel = ['./dataset_splitted/java/5201.txt',
'./dataset_splitted/java/28202.txt',
'./dataset_splitted/java/31202.txt']

In [79]:
dataset = dataset[dataset.fragment_1.isin(filedel) == False]
dataset = dataset[dataset.fragment_2.isin(filedel) == False]

In [80]:
print(dataset.shape)
dataset.head()

(1990, 4)

,Unnamed: 0,fragment_1,fragment_2,label
0,0,./dataset_splitted/java/98501.txt,./dataset_splitted/java/98502.txt,1
1,1,./dataset_splitted/java/74901.txt,./dataset_splitted/java/74902.txt,1
2,2,./dataset_splitted/java/99101.txt,./dataset_splitted/java/99102.txt,1
3,3,./dataset_splitted/java/76101.txt,./dataset_splitted/java/76102.txt,1
4,4,./dataset_splitted/java/77501.txt,./dataset_splitted/java/77502.txt,1

In [81]:
dataset.drop('Unnamed: 0',axis=1, inplace=True)
dataset.head()

                          fragment_1                         fragment_2  label
0  ./dataset_splitted/java/98501.txt  ./dataset_splitted/java/98502.txt      1
1  ./dataset_splitted/java/74901.txt  ./dataset_splitted/java/74902.txt      1
2  ./dataset_splitted/java/99101.txt  ./dataset_splitted/java/99102.txt      1
3  ./dataset_splitted/java/76101.txt  ./dataset_splitted/java/76102.txt      1
4  ./dataset_splitted/java/77501.txt  ./dataset_splitted/java/77502.txt      1

In [82]:
from sklearn.model_selection import train_test_split

#train test valid
X = dataset[['fragment_1','fragment_2']]
y = dataset['label']
#train test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
testdata = pd.concat([X_test, y_test], axis=1)

#split train into validation set
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)
traindata = pd.concat([X_train, y_train], axis=1)
validdata = pd.concat([X_val, y_val], axis=1)
#for GNN, FA-AST
#save to file as csv
traindata.to_csv('./dataset_diff/scb_train.csv', header = None, index=False, sep='\t')
testdata.to_csv('./dataset_diff/scb_test.csv', header = None, index=False, sep='\t')
validdata.to_csv('./dataset_diff/scb_dev.csv', header = None, index=False, sep='\t')#validation set saved as dev-data
print(traindata.shape, validdata.shape, testdata.shape)

(1273, 3) (319, 3) (398, 3)

In [83]:
def rep(d):
    df= d.copy()
    df.replace('./dataset_splitted/java/','', regex=True, inplace=True)
    df.replace('.txt','', regex=True, inplace=True)
    return df
#astnn
#savind only IDs an dnot whole path for other algorithms' reproducibilty
rep(dataset).to_csv('./dataset_diff/scb_data_id.csv',header = None, index=False, sep='\t')
#save to file as csv
rep(traindata).to_csv('./dataset_diff/scb_train_id.csv', header = None, index=False, sep='\t')
rep(testdata).to_csv('./dataset_diff/scb_test_id.csv', header = None, index=False, sep='\t')
rep(validdata).to_csv('./dataset_diff/scb_dev_id.csv', header = None, index=False, sep='\t')#validation set saved as dev-data
print(traindata.shape, validdata.shape, testdata.shape)

(1273, 3) (319, 3) (398, 3)

In [84]:
rep(dataset)

     fragment_1 fragment_2  label
0         98501      98502      1
1         74901      74902      1
2         99101      99102      1
3         76101      76102      1
4         77501      77502      1
...         ...        ...    ...
1995      55301      30402     -1
1996      31901      24901     -1
1997      80902      65501     -1
1998      11201      13402     -1
1999      12501      90502     -1

[1990 rows x 3 columns]

In [85]:
print("Amar golpo furolo...")

Amar golpo furolo...

## ASTNN data format

In [86]:
p = './dataset_splitted/java'

In [87]:
import os
sd = []
for rt, dirs, files in os.walk(p):
        print(rt)
        print(dirs)
        files.sort()
        for file in files:
            id = str(file)[:-4]#ids
            code= open(os.path.join(rt,file),encoding='utf-8').read().rstrip()
            sd.append([id, code])
len(sd)

./dataset_splitted/java
[]

1997

In [88]:
sd[0]

['001',
 'public static BufferedImage scale (BufferedImage imageToScale, int dWidth, int dHeight) {\n\n    BufferedImage scaledImage = null;\n\n    if (imageToScale != null) {\n\n        scaledImage = new BufferedImage (dWidth, dHeight, imageToScale.getType ());\n\n        Graphics2D graphics2D = scaledImage.createGraphics ();\n\n        graphics2D.drawImage (imageToScale, 0, 0, dWidth, dHeight, null);\n\n        graphics2D.dispose ();\n\n    }\n\n    return scaledImage;\n\n}']

In [89]:
scb_data_astnn = pd.DataFrame(sd, columns = ['id', 'code'])

In [90]:
scb_data_astnn.to_csv('./dataset_diff/scb_data_astnn.csv',  sep='\t', index=False, header=None)

In [91]:
scb_data_astnn

         id                                               code
0       001  public static BufferedImage scale (BufferedIma...
1       002  public static BufferedImage scale (BufferedIma...
2     10001  public void type (CharSequence chars, int ms) ...
3     10002  public void type (char character) {\n\n    swi...
4      1001  public void replaceText (int start, int end, S...
...     ...                                                ...
1992  99702  private XSSFFont transform (HSSFFont fontOld) ...
1993  99801  private void transform (XSSFWorkbook workbookO...
1994  99802  private void transform (HSSFWorkbook workbookO...
1995  99901  private void transform (XSSFWorkbook workbookO...
1996  99902  private void transform (HSSFWorkbook workbookO...

[1997 rows x 2 columns]