In [1]:
import pandas as pd 

# NOTE: from fa-ast-gmn paper, ASTNN one can keep all label

In [6]:
train = pd.read_csv("train.csv", header=None)
test = pd.read_csv("test.csv", header=None)
valid = pd.read_csv("valid.csv", header=None)
train.head()

      0     1  2
0  7283  3869  0
1  2299  7733  1
2  5564  1447  1
3  7171  6241  0
4  8572  4733  0

In [14]:
train_c4 = train[train[2] == 1] 
test_c4 = test[test[2] == 1]
valid_c4 = valid[valid[2] == 1]

train_c4.to_csv("train_c4.csv", header=None, index=None)
test_c4.to_csv("test_c4.csv", header=None, index=None)
valid_c4.to_csv("valid_c4.csv", header=None, index=None)