In [1]:
indexdir = './scb'
import pandas as pd
clone_pairs = pd.read_pickle(indexdir+'/scb_pair_ids.pkl')
X = clone_pairs[['id1', 'id2']]
y = clone_pairs['label']

In [2]:
X

        id1    id2
0     98501  98502
1     74901  74902
2     99101  99102
3     76101  76102
4     77501  77502
...     ...    ...
1985  55301  30402
1986  31901  24901
1987  80902  65501
1988  11201  13402
1989  12501  90502

[1990 rows x 2 columns]

In [3]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1985    0
1986    0
1987    0
1988    0
1989    0
Name: label, Length: 1990, dtype: int64

In [10]:
f = pd.read_pickle('./scb/testdata_id.pkl')

In [11]:
f

,id1,id2,label
0,./dataset_splitted/java/39902.txt,./dataset_splitted/java/29501.txt,-1
1,./dataset_splitted/java/15601.txt,./dataset_splitted/java/15602.txt,1
2,./dataset_splitted/java/15401.txt,./dataset_splitted/java/15402.txt,1
3,./dataset_splitted/java/39102.txt,./dataset_splitted/java/51302.txt,-1
4,./dataset_splitted/java/95201.txt,./dataset_splitted/java/20201.txt,-1
...,...,...,...
393,./dataset_splitted/java/28601.txt,./dataset_splitted/java/28602.txt,1
394,./dataset_splitted/java/39201.txt,./dataset_splitted/java/94001.txt,-1
395,./dataset_splitted/java/99301.txt,./dataset_splitted/java/99302.txt,1
396,./dataset_splitted/java/25001.txt,./dataset_splitted/java/25002.txt,1
397,./dataset_splitted/java/33801.txt,./dataset_splitted/java/33802.txt,1

In [8]:
f

        id1    id2  label
0     79301  79302      1
1     95301  95302      1
2     56501  56502      1
3     89201  97002     -1
4     42001  42002      1
...     ...    ...    ...
1268  25301  77001     -1
1269  95902  56702     -1
1270  10101  60201     -1
1271  61601  61602      1
1272  25701  25702      1

[1273 rows x 3 columns]